@model IViewModel<Post>
@{
    Thread thread = ViewBag.Thread;
    ViewBag.Title = thread.Title + " - " + thread.Forum.Name;
    var replies = await thread.LoadAsync(t => t.Replies);
}
<link href="~/lib/editor.md/css/editormd.css" rel="stylesheet" />
<style>
    .postTable tr > td:first-child {
        width: 160px;
        background-color: rgb(242,242,242);
    }

    .postTable tr td:first-child {
        border-bottom: 4px solid rgb(228,228,228);
    }

    .postTable tr td {
        border-bottom: 4px solid rgb(242,242,242);
    }

    .postTable .postTitle {
        border-bottom: 1px solid rgb(242,242,242);
        padding: 2px 7px 7px 7px;
    }

    .postTable .postTools {
        border-top: 1px solid rgb(242,242,242);
        padding: 2px 7px 0px 7px;
        margin-bottom: -5px;
    }

        .postTable .postTools a + a {
            margin-left: 10px;
        }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">论坛</a></li>
    <li class="breadcrumb-item"><a href="@Html.Raw(Url.Action("Board", new { id = thread.Forum.Board.Index }))">@thread.Forum.Board.Name</a></li>
    <li class="breadcrumb-item"><a href="@Html.Raw(Url.Action("Forum", new { id = thread.Forum.Index }))">@thread.Forum.Name</a></li>
    <li class="breadcrumb-item active">@thread.Title</li>
</ol>
<table class="table postTable">
    <thead>
        <tr>
            <td class="text-center align-middle text-center">
                <div class="row">
                    <div class="col"><small>回复：@replies.Count</small></div>
                    <div class="col"><small>查看：0</small></div>
                </div>
            </td>
            <td>
                <strong style="font-size: 20px; padding-left: 7px;">@thread.Title</strong>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <div class="postTitle">
                        @item.Member.Username
                    </div>
                </td>
                <td>
                    <div class="postTitle">
                        <small>发表于 @(item.CreateDate.ToString("yyyy-MM-dd HH:mm:ss"))</small>
                        @if (item.CreateDate != item.EditDate)
                        {
                            <small>最后编辑于 @(item.EditDate.ToString("yyyy-MM-dd HH:mm:ss"))</small>
                        }
                    </div>
                    <div class="postContent" id="C_@item.Index">
                        @if (item.IsDeleted)
                        {
                            <div class="alert alert-warning" role="alert">
                                此回复已被删除。
                            </div>
                        }
                        else
                        {
                            <textarea style="display: none">@Html.Raw(item.Content)</textarea>
                        }
                    </div>
                    <div class="postTools">
                        @if (User.IsInDynamicRole(AdminType.SuperModerator) || User.GetUserId() == item.MemberId.ToString())
                        {
                            <a class="octicon" href="@(item.CreateDate == thread.CreateDate ? Url.Action("ThreadEdit", new { id = thread.Index }) : Url.Action("PostEdit", new { id = item.Index }))">
                                <img src="~/lib/octicons/lib/svg/pencil.svg" /><span>编辑</span>
                            </a>
                        }
                        @if (User.IsInDynamicRole(AdminType.SuperModerator))
                        {
                            <a class="octicon" href="@(item.CreateDate == thread.CreateDate ? Url.Action("ThreadDelete", new { id = thread.Index }) : Url.Action("PostDelete", new { id = item.Index }))">
                                <img src="~/lib/octicons/lib/svg/x.svg" /><span>删除</span>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<form>
    <div class="row">
        <div class="col">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-info" href="@Html.Raw(Url.Action("PostCreate", new { id = thread.Index }))">回复</a>
            }
        </div>
        <div class="col-auto">
            @Html.Partial("_Pagination", Model)
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="@Html.Raw(Url.Action("Forum", new { id = thread.Forum.Index }))"><span class="glyphicon glyphicon-triangle-left"></span> 返回列表</a>
        </div>
    </div>
</form>
@if (User.Identity.IsAuthenticated)
{
    <br />
    <table class="table" style="border-top: 4px solid rgb(242,242,242);">
        <tr>
            <td style="width: 160px; background-color: rgb(242,242,242);"></td>
            <td>
                <form id="form" action="@Html.Raw(Url.Action("PostCreate"))" method="post">
                    <input type="hidden" name="ThreadId" value="@thread.Index" />
                    <div id="content">
                        <textarea class="form-control" name="content" style="display:none;"></textarea>
                    </div>
                    <button id="reply" type="button" class="btn btn-info">发表回复</button>
                </form>
            </td>
        </tr>
    </table>
}
@section Scripts{
    <script src="~/lib/editor.md/lib/marked.min.js"></script>
    <script src="~/lib/editor.md/lib/prettify.min.js"></script>
    <script src="~/lib/editor.md/lib/raphael.min.js"></script>
    <script src="~/lib/editor.md/lib/underscore.min.js"></script>
    <script src="~/lib/editor.md/lib/sequence-diagram.min.js"></script>
    <script src="~/lib/editor.md/lib/flowchart.min.js"></script>
    <script src="~/lib/editor.md/lib/jquery.flowchart.min.js"></script>
    <script src="~/lib/editor.md/src/editormd.js"></script>
    <script type="text/javascript">
        $('.postContent').each(function (index, element) {
            editormd.markdownToHTML($(element).attr('id'), {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
            }).find("textarea").remove();;
        });
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            $(function () {
                var editor = editormd("content", {
                    height: 160,
                    path: '@Url.Content("~/lib/editor.md/lib/")',
                    placeholder: '请输入回复内容',
                    toolbar: false
                });
            });

            $('#reply').click(function () {
                var content = $('#content textarea').val();
                if (content == '') {
                    alert('回复内容不能为空。');
                }
                $.ajax({
                    url: '@Url.Action("PostUpdate")',
                    type: 'POST',
                    data: {
                        threadId: '@thread.Index',
                        content: content
                    },
                    success: function () {
                        window.location = '@Url.Action("Thread", new { id = thread.Index, page = Model.TotalCount == Model.TotalPage * Model.CurrentSize ? Model.TotalPage+1 : Model.TotalPage })';
                    },
                    error: function () {
                        alert('回复出错。');
                    }
                });
            });
        </script>
    }
}